// ===start of breakfast

.breakfast {
	background: linear-gradient(rgba(36, 41, 45, 0.8), rgba(36, 41, 45, 0.8)), url("../assets/restaurant-pic.jpg") fixed no-repeat; 
	background-size:cover;
}
// header styling
.breakfast-header{
	position:relative;
}
.breakfast .scroll-arrows-container {
	position:absolute;
	top:0%;
	right:3%;
}

// breakfast styling
.column {
	float:left;
	width:50%;
}
.item-container {
	display:flex;
	flex-direction:column;
	width:100%;
	.item {
		margin:0 auto;
		display:flex;
		flex-direction:column;
		margin-left:0;
		margin-right:1rem;
		padding:1rem;
		flex-wrap:wrap;
	}
}

.item-detail-price{
	display:flex;
	justify-content:space-between;
	p {
		font-style:italic;
	}
	.name-detail {
		display:flex;
		justify-content:space-between;
		@include dish-detail();	
	}
	.dots {
		display:inline;
		border-bottom:2px dotted white;
		flex:1;
		height:16px;
	}
	.price {
		@include dish-detail();
	}
}
.name {
	@include dish-name();
}

.button-container {
	text-align:center;
}
// ===================