// ===start of map section
.map {
	position:relative;
	text-align:center;
	img {
		max-width:100%;
	}
}
.mapmarker {
	position:absolute;
	top:40%;
	left:50%
}
// ===start of footer
footer p {
	color:#70838E;
}
.footer-container {
	text-align:center;
	position:relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
	padding-top:5%;
}
.details {
	// display:inline-block;
	// padding:4.5rem 1.5rem;
	img {
		display:inline-block;
	}
}
.social-media {
	width: 22%;
	// transform: translateY(-200px);
}
.icons .fa {
	display:inline-block;
	color:#70838E;
	padding:0.5rem;
	&:hover {
		color:white;
	}
}
.outer-contact-container {
	position:relative;
	// top:-130px;
	width: 45%;
}
.contact-container {
	background: white;
	margin:0 auto;
	padding:1rem;
	// position:absolute;
	top:-45%;
	margin-top:-100px;
}
.field-container {
	margin:0 auto;
}
.icon-container {
	position:relative;
	.fa {
		position:absolute;
		right:20px;
		top:8px;
		font-size:20px;
		color:black;
	}
}

input {
	@include contact-fields;
}
textarea {
	@include contact-fields;
}
.msg {
	width: 100%;
}
.message-button {
	background: $white;
	border:3px solid $main-black;
	color:$main-black;
	margin:0;
	display:inline-block;
	width: 40%;
	margin-top:1rem;
	padding:15px;
	&:hover {
		background: $cream;
		transition:1s;
		color:black;
	}
}
.gourmet-full-details {
	text-align:left;
	// display:inline-block;
	margin-left:6%;
	position:relative;
	padding-left:3%;
	// transform: translateY(-200px);
}
.address-container::before{
	content: url(../assets/locationicon.png);
	display:inline-block;
	position:absolute;
	left:-12px;
}
.modem-container::before {
	content: url(../assets/mobile.png);
	display:inline-block;
	position:absolute;
	left:-12px;
}
.email-container::before {
	content: url(../assets/mail.png);
	display:inline-block;
	position:absolute;
	left:-12px;
}
.address:first-child, 
.modem-container:first-child, 
.email-container:first-child {
	display:inline;
}
.address-container, 
.modem-container,
.email-container {
	text-indent: -2em;
	margin-bottom:2rem;
}
.copyright {
	text-align:center;
}