// SECTION:PROFILES - RESTAURANT.PSD PROJECT


// ===start of Profiles page

.profile-wrapper {
	// max-width:1200px;
	margin:0 auto;
	display:flex;
	// padding-left:30%;
}
.profiles-left {
	display:flex;
	flex-direction:column;
	width:50%;
	padding:4% 5% 4% 17%;

}
.profiles p {
	margin:0;
	color:$gray;
	// margin-bottom:1rem;
	line-height:2;
}
.profiles-left img {
	border-radius:50%;
	width: 20%;
	float:left;
	margin-right:1rem;
}
.profile-info {
	float:left;
	margin-top:2%;
}
blockquote {
	color:$main-black;
	clear:both;
	margin:1.5rem 0;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-style:italic;
	line-height:2;
}
.profiles-right {
	display:flex;
	flex-direction:column;
	width:50%;
	background:url("../assets/chef2.jpg");
	background-size:cover;
}
.profiles .role  {
	color:$orange;
}