// SECTION:PROFILES - RESTAURANT.PSD PROJECT


// ===start of Profiles page

.profile-wrapper {
	margin:0 auto;
	display:flex;
	// padding-left:30%;
}
.profiles-left {
	display:flex;
	flex-direction:column;
	width:50%;
	padding:6% 2% 6% 20%;
	img {
		border-radius:50%;
		width: 20%;
		float:left;
		margin-right:1rem;
		border:1px solid white;
	}
}
.profiles p {
	margin:0;
	color:$gray;
	line-height:2;
}
.profile-info {
	float:left;
	margin-top:2%;
}
blockquote {
	color:$main-black;
	clear:both;
	margin:1.5rem 0;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-style:italic;
	line-height:2;
}
p.about-chef {
	margin-bottom:10%;
}
.profiles .role  {
	color:$orange;
	font-size:11px;
	line-height:1.2;
}
.profiles-right {
	display:flex;
	flex-direction:column;
	width:50%;
	background:url("../assets/chef2.jpg");
	background-size:cover;
}
