// SECTION:PROFILES - RESTAURANT.PSD PROJECT


// ===start of Profiles page

.profile-wrapper {
	// max-width:1200px;
	margin:0 auto;
	display:flex;
	// padding-left:30%;
}
.profiles-left {
	display:flex;
	flex-direction:column;
	width:50%;
	padding-left:17%;
	padding-right:5%;
}
.profiles p {
	margin:0;
	color:$gray;
	margin-bottom:1rem;
}
.profiles-left img {
	border-radius:50%;
	width: 20%;
	float:left;
	margin-right:1rem;
}
.profile-info {
	float:left;
	margin-top:2%;
}
blockquote {
	color:$main-black;
	clear:both;
	margin:3rem 0;
}
.profiles-right {
	display:flex;
	flex-direction:column;
	width:50%;
	background:url("assets/chef2.jpg");
	background-size:cover;
}
.profiles .role  {
	color:$orange;
}