// SPLASH STYLES
// @import 'variables';


.splash {
	background: linear-gradient(rgba(36, 41, 45, 0.6), rgba(36, 41, 45, 0.6)), url(../assets/bg-image.jpeg);
	background-size:cover;
	height: 100vh;
	position:relative;
	.splash-img img:not(.button-img) {
		width:100%;
		margin-bottom:1rem;
		// margin: 0 auto;
	}
	.s1, .s2, .s3 {
		margin: 0 auto;
	}
	.s1 {
		width: 40%;
		margin-bottom:1.5rem;
	}
	.s2 {
		width: 80%;
		img {
			margin-bottom:0;
		}
	}
	.s3 {
		width: 45%;
	}
}
.splash-content {
	text-align:center;
	margin:0 auto;
	padding:10%;
	// width: 60%;

}

button {
	border:0;
	padding:10px;
	background: $orange;
	color:$white;
	width: 23%;
	text-transform:uppercase;
	margin:3.5rem auto;
	text-align:center;
	border-radius:2px;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	img {
		margin:5px 10px 0 0;

		p {
			// float:left;
		}
	}
	
}
button p {
	font-family: 'Open Sans', sans-serif;
	font-size:10px;
	text-align:left;
}