// VARIABLES - RESTAURANT.PSD PROJECT

// COLOURS
$main-black: rgb(36, 45, 41);
$cream: rgb(235, 229, 215);
$orange: rgb(206, 81, 17);
$white: white;
$gray: #70838E;
$othergray: #323C3F;

// ============== start of nav
@mixin social-media-size (){
	font-size:20px;
}

// ==============start of headers
@mixin headers($font-size,$color){
	font-family: 'Great Vibes', cursive;
	text-transform:capitalize;
	font-size:$font-size;
	color: $color;
	// text-align:center;
}
@mixin headers-alt($font-size,$color){
	font-family: 'Playfair Display', serif;
	text-transform:capitalize;
	font-size:$font-size;
	// color: $color;
}
@mixin section-center(){
	text-align:center;
}
// ===================start of dish breakfast menu
@mixin dish-name(){
	font-family:Times New Roman, serif;
	font-size:18px;
	text-transform:capitalize;
	color:$white;
	text-align:left;
}
@mixin dish-detail (){
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	margin:3px 0;
	text-transform:lowercase;
	color:$white;
}
// ==================start of footer;
@mixin footer-details{
	font-size:8px;
}
@mixin contact-fields {
	width: 100%;
	border-radius:2px;
	padding:10px;
	border:1px solid lightgray;
	margin-bottom:20px;
}












