article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.nav-wrapper {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-wrapper p {
  font-size: 10px;
}

.nav-wrapper p a {
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
  margin-left: 22%;
  margin-bottom: 20%;
}

nav ul ul li .fa {
  display: inline;
  color: #70838E;
}

nav {
  position: absolute;
  background: rgba(36, 45, 41, 0.8);
  width: 15%;
  height: 100vh;
  z-index: 100;
  top: 0;
}

nav li {
  display: block;
  list-style-type: none;
  padding-left: 2rem;
  padding: 10px 0 10px 0;
}

nav li a {
  margin: 0.5rem;
  padding: 3px;
  display: inline;
  color: #70838E;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 300;
}

nav ul li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: white;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

li a:hover:before, a:focus:before, a:active:before {
  right: 0;
}

nav ul li a:hover {
  color: white;
}

nav p,
nav .fa {
  text-align: center;
  color: #70838E;
}

nav p {
  word-wrap: break-word;
  font-size: 12px;
}

.tweeting {
  padding: 8% 0;
  border-top: 1px solid slategray;
  border-bottom: 1px solid slategray;
}

.tweeting .orange,
.tweeting .orange .fa {
  color: #ce5111;
}

.tweeting .orange .fa {
  font-size: 20px;
}

.tweeting .link {
  color: white;
}

.tweeting .fa {
  display: block;
}

.tweeting .minutes {
  text-transform: uppercase;
}

div.nav-social {
  margin: 0 auto;
}

.nav-social-copyright {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin: 0 auto;
  padding-bottom: 15%;
}

.nav-social-copyright .nav-social {
  text-align: center;
  width: 70%;
  padding: 0.5rem 0;
}

.nav-social-copyright .nav-social a {
  text-decoration: none;
}

.nav-social-copyright .nav-social .fa {
  display: inline;
  margin: 2px;
  font-size: 20px;
}

.nav-social-copyright .nav-copyright {
  margin-top: 20%;
}

.nav-social-copyright .nav-copyright p {
  margin: 0;
  color: #70838E;
  font-size: 10px;
}

.nav-social-copyright .nav-copyright .allrights p {
  text-transform: uppercase;
}

.nav-social a .fa:hover {
  color: white;
}

.menu-trigger {
  color: #ce5111;
  text-decoration: none;
  font-size: 20px;
  padding: 1rem;
  display: none;
}

.menu-trigger .fa {
  display: inline-block;
}

.responsive-nav-container,
.responsive-nav {
  display: none;
}

.responsive-nav .nav-copyright {
  margin-top: 1rem;
}

.responsive-nav h1 {
  margin-top: 0;
  padding-top: 1rem;
}

.splash {
  background: -webkit-linear-gradient(rgba(36, 41, 45, 0.6), rgba(36, 41, 45, 0.6)), url(../assets/bg-image.jpeg);
  background: linear-gradient(rgba(36, 41, 45, 0.6), rgba(36, 41, 45, 0.6)), url(../assets/bg-image.jpeg);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.splash .splash-img img:not(.button-img) {
  width: 100%;
  margin-bottom: 1rem;
}

.splash .s1, .splash .s2, .splash .s3 {
  margin: 0 auto;
}

.splash .s1 {
  width: 40%;
  margin-bottom: 1.5rem;
}

.splash .s2 {
  width: 80%;
}

.splash .s2 img {
  margin-bottom: 0;
}

.splash .s3 {
  width: 45%;
}

.splash-content {
  text-align: center;
  margin: 0 auto;
  padding: 10%;
}

button {
  border: 0;
  padding: 10px;
  background: #ce5111;
  color: white;
  width: 23%;
  text-transform: uppercase;
  margin: 3.5rem auto;
  text-align: center;
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

button img {
  margin: 5px 10px 0 0;
}

button p {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  text-align: left;
}

.profile-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.profiles-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding: 6% 2% 6% 20%;
}

.profiles-left img {
  border-radius: 50%;
  width: 20%;
  float: left;
  margin-right: 1rem;
  border: 1px solid white;
}

.profiles p {
  margin: 0;
  color: #70838E;
  line-height: 2;
}

.profile-info {
  float: left;
  margin-top: 2%;
}

blockquote {
  color: #242d29;
  clear: both;
  margin: 1.5rem 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 2;
}

p.about-chef {
  margin-bottom: 10%;
}

.profiles-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  background: url("../assets/chef2.jpg");
  background-size: cover;
}

.profiles .role {
  color: #ce5111;
}

.gallery-photos {
  text-align: center;
}

.gallery {
  text-align: center;
}

.gallery p {
  font-style: italic;
  color: #ebe5d7;
  font-size: 14px;
}

.gallery p,
.services p {
  text-align: center;
}

.gallery ul {
  padding: 0 5px;
  margin: 3rem auto;
  border: 1px solid #323C3F;
  text-align: center;
  display: inline-block;
}

.gallery ul li {
  margin: 0.5rem 0;
  float: left;
  list-style-type: none;
}

.gallery ul li a {
  padding: 5px 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ebe5d7;
  text-decoration: none;
  float: left;
}

.gallery ul li a:hover {
  color: #ce5111;
  -webkit-transition: 1s;
          transition: 1s;
}

.photo-trigger {
  color: #ebe5d7;
  display: none;
}

.gallery ul li a:not(.disabled) {
  border-right: 1px solid #323C3F;
}

.gallery-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.gallery-container h4,
.gallery-container p {
  color: #ebe5d7;
}

.photo-container {
  position: relative;
  width: 20%;
}

.photo-container img {
  width: 100%;
}

.photo-overlay h4 {
  margin-top: 23%;
}

.photo-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.25s ease;
          transition: 0.25s ease;
}

.photo-overlay .search-link {
  position: relative;
  top: 14%;
}

.photo-overlay p {
  font-size: 0.6rem;
}

.photo-overlay img {
  width: 12%;
  float: left;
  background: white;
  padding: 2%;
}

.photo-overlay:hover {
  opacity: 1;
}

.services p {
  color: #70838E;
  line-height: 2;
}

.meals-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3rem 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.meals {
  width: 20%;
  min-width: 20%;
  text-align: center;
  margin: 0 1rem;
}

.meals p {
  line-height: 2;
}

.breakfast {
  background: -webkit-linear-gradient(rgba(36, 41, 45, 0.8), rgba(36, 41, 45, 0.8)), url("../assets/restaurant-pic.jpg") fixed no-repeat;
  background: linear-gradient(rgba(36, 41, 45, 0.8), rgba(36, 41, 45, 0.8)), url("../assets/restaurant-pic.jpg") fixed no-repeat;
  background-size: cover;
}

.breakfast-header {
  position: relative;
}

.breakfast .scroll-arrows-container {
  position: absolute;
  top: 0%;
  right: 3%;
}

.column {
  float: left;
  width: 50%;
}

.item-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.item-container .item {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0;
  margin-right: 1rem;
  padding: 1rem;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.item-detail-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-detail-price p {
  font-style: italic;
}

.item-detail-price .name-detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 3px 0;
  text-transform: lowercase;
  color: white;
}

.item-detail-price .dots {
  display: inline;
  border-bottom: 2px dotted white;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 16px;
}

.item-detail-price .price {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 3px 0;
  text-transform: lowercase;
  color: white;
}

.name {
  font-family: Times New Roman, serif;
  font-size: 18px;
  text-transform: capitalize;
  color: white;
  text-align: left;
}

.button-container {
  text-align: center;
}

.map {
  position: relative;
  text-align: center;
}

.map img {
  max-width: 100%;
}

.mapmarker {
  position: absolute;
  top: 40%;
  left: 50%;
}

footer p {
  color: #70838E;
}

.footer-container {
  text-align: center;
  position: relative;
}

.details {
  display: inline-block;
  padding: 4.5rem 1.5rem;
}

.details img {
  display: inline-block;
}

.social-media {
  width: 22%;
  -webkit-transform: translateY(-200px);
      -ms-transform: translateY(-200px);
          transform: translateY(-200px);
}

.icons .fa {
  display: inline-block;
  color: #70838E;
  padding: 0.5rem;
}

.icons .fa:hover {
  color: white;
}

.outer-contact-container {
  position: relative;
  top: -130px;
  width: 45%;
}

.contact-container {
  background: white;
  margin: 0 auto;
  padding: 1rem;
}

.field-container {
  margin: 0 auto;
}

.icon-container {
  position: relative;
}

.icon-container .fa {
  position: absolute;
  right: 20px;
  top: -22px;
  font-size: 20px;
  color: black;
}

input {
  width: 100%;
  border-radius: 2px;
  padding: 10px;
  border: 1px solid lightgray;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  border-radius: 2px;
  padding: 10px;
  border: 1px solid lightgray;
  margin-bottom: 20px;
}

.msg {
  width: 100%;
}

.message-button {
  background: white;
  border: 3px solid #242d29;
  color: #242d29;
  margin: 0;
  display: inline-block;
  width: 40%;
  margin-top: 1rem;
  padding: 15px;
}

.message-button:hover {
  background: #ebe5d7;
  -webkit-transition: 1s;
          transition: 1s;
  color: black;
}

.gourmet-full-details {
  text-align: left;
  display: inline-block;
  margin-left: 6%;
  position: relative;
  -webkit-transform: translateY(-200px);
      -ms-transform: translateY(-200px);
          transform: translateY(-200px);
}

.address-container::before {
  content: url(../assets/locationicon.png);
  display: inline-block;
  position: absolute;
  left: -12px;
}

.modem-container::before {
  content: url(../assets/mobile.png);
  display: inline-block;
  position: absolute;
  left: -12px;
}

.email-container::before {
  content: url(../assets/mail.png);
  display: inline-block;
  position: absolute;
  left: -12px;
}

.address:first-child,
.modem-container:first-child,
.email-container:first-child {
  display: inline;
}

.address-container,
.modem-container,
.email-container {
  text-indent: -2em;
  margin-bottom: 2rem;
}

body {
  font-family: sans-serif;
  color: white;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  background: #242d29;
}

h1 {
  font-family: 'Great Vibes', cursive;
  text-transform: capitalize;
  font-size: 20px;
  color: black;
}

nav h1 {
  text-align: center;
}

h1 img {
  width: 75%;
}

h2 {
  font-family: 'Great Vibes', cursive;
  text-transform: capitalize;
  font-size: 50px;
  color: black;
  margin: 0;
  padding-bottom: 20px;
}

h2 span {
  color: #ce5111;
}

.h2-light {
  font-family: 'Great Vibes', cursive;
  text-transform: capitalize;
  font-size: 50px;
  color: #ebe5d7;
  text-align: center;
}

.services h2,
.contact-container h2 {
  text-align: center;
}

h3 {
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
  font-size: 20px;
  color: #ce5111;
}

h4 {
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
  font-size: 18px;
  margin: 0;
  color: #242d29;
}

h5 {
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
  font-size: 16px;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 0% 10%;
}

#nav-check {
  display: none;
}

.scroll-arrows .fa {
  display: inline-block;
  font-size: 2rem;
}

.scroll-arrows .fa:hover {
  color: #ce5111;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.scroll-arrows .fa-angle-left {
  margin-right: 1rem;
}

.gallery,
.services,
.breakfast,
.footer {
  padding: 5% 10%;
}

.services {
  background: white;
}

.profiles {
  background: #ebe5d7;
}

.gallery,
footer {
  background: #242d29;
}

@media (max-width: 1000px) {
  .meals {
    width: 40%;
    margin-bottom: 2%;
  }
}

@media (max-width: 950px) {
  .footer-container {
    bottom: 0;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .column {
    float: none;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .breakfast .scroll-arrows-container {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
  }
  .fa {
    margin-top: 0;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .default-nav {
    display: none;
  }
  .menu-trigger,
  .responsive-nav-container {
    display: block;
  }
  .responsive-nav {
    position: relative;
    background: black;
    width: 80%;
  }
  .responsive-nav-container {
    position: absolute;
    width: 70%;
  }
  .profiles {
    padding: 2% 10%;
  }
  .profile-wrapper {
    width: 80%;
  }
  .profiles-left {
    float: none;
    text-align: center;
    padding-left: 0;
    width: 100%;
    padding-bottom: 3rem;
  }
  .profiles-left img {
    width: 60%;
    float: none;
    margin-bottom: 2rem;
    margin-right: 0;
  }
  .profile-info {
    float: none;
  }
  .profiles-right {
    display: none;
  }
  .gallery img {
    display: inline-block;
  }
  .gallery-container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .column {
    float: none;
    width: 90%;
  }
}

@media (max-width: 650px) {
  button {
    margin: 1rem auto;
    width: 40%;
  }
  .meals {
    width: 100%;
  }
  .photo-container {
    margin: 1% auto;
  }
  .gallery ul li a:not(.disabled) {
    border-right: none;
  }
  .gallery ul {
    width: 100%;
  }
  .gallery ul li {
    float: none;
    margin: 2rem;
  }
  .gallery ul li a {
    float: none;
    margin: 1rem;
  }
  .gallery ul li a:not(.photo-trigger) {
    display: none;
  }
  .photo-trigger {
    display: block;
  }
}

/* Landscape phones and down */
